body {
   margin: 0;
   padding: 0;
   background-image: url("/img/hello.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

.pointer {
   display: inline-block;
   font-size: $pixel-base;
   @include dist(padding-left, 5);
   @include dist(padding-right, 5);
   @include dist(padding-top, 2);
   @include dist(padding-bottom, 2);
   @include dist(height, 16);
   position: relative;
   background: $bg-color;
   //@include dist(margin, 3);
   @include dist(max-width, 32);
   @include dist(min-width, 12);
   clip-path: polygon(calc(#{$base-dist}* 42 * 0.85) 0,
      calc(#{$base-dist}* 42) 50%,
      calc(#{$base-dist}* 42 * 0.85) 100%,
      0% 100%,
      calc(#{$base-dist}* 32 * 0.15) 50%,
      0% 0%);