body {
   margin: 0;
   padding: 0;
   background-image: url("/img/hello.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

.pointer {
   width: 30%;
   height: 40px;
   position: relative;
   background: #000000;
}

/* .pointer:after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   width: 0;
   height: 0;
   border-left: 20px solid white;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
} */

.pointer:before {
   content: "";
   position: absolute;
   right: -20px;
   bottom: 0;
   width: 0;
   height: 0;
   border-left: 20px solid #163D87;
   border-top: 20px solid transparent;
   border-bottom: 20px solid transparent;
}