body {
   margin: 0;
   padding: 0;
   background-image: url("/img/hello.png");
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   background-size: cover;
}

.container {
   margin: 0;
   padding: 0;
   margin-top: 100px;
}

.pointer {
   width: 30%;
   height: 50px;
   position: relative;
   background: #F0EDCF;
   color: black;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 30px;
   transition: 0.4s;
}

.pointer:hover {
   background: #DC920E;
   width: 50%;
   height: 60px;
   text-align: center;
}

.pointer:hover::before {
   border-top: 30px solid transparent;
   border-bottom: 30px solid transparent;
   border-left: 30px solid #DC920E;
   right: -29px;

}


.pointer:before {
   content: "";
   position: absolute;
   right: -25px;
   bottom: 0;
   width: 0;
   height: 0;
   border-top: 25px solid transparent;
   border-bottom: 25px solid transparent;
   border-left: 25px solid #F0EDCF;
   transition: 0.4s;
}