* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #AD8B73;
}

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 30px;
    background-color: #E3CAA5;
    width: 550px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#header {
    font-size: 18px;
    font-weight: bold;
    padding: 10px 0px;
    color: black;
}

#form-messages {
    background-color: black;
    border: 1px solid red;
    color: red;
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 25px;
    max-width: 100%;
}

label {
    display: block;
    font-size: 16px;
    margin: 10px 0px 5px 0px;
    color: black;
}

input[type='text'],
select {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 5px 10px;
}

#status {
    background-color: black;
    border: 1px solid green;
    color: green;
    display: none;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px 25px;
    max-width: 100%;
}

.form li {
    list-style: none;
}

button {
    border-radius: 20px;
    display: block;
    padding: 10px 20px;
    background-color: transparent;
    color: black;
    box-shadow: none;
    border-style: none;
    width: 100%;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    border: 2px solid black;
}

#question {
    font-size: 19px;
    width: 490px;
}

@media screen and (max-width: 768px) {
    .form {
        width: 350px;
        padding: 10px 15px;
    }

    #question {
        font-size: 19px;
        width: 320px;
    }
}

@media screen and (max-width: 480px) {
    .form {
        width: 300px;
    }

    #question {
        font-size: 19px;
        width: 270px;
    }
}