@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("/img/credit.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#backBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}