body {
    margin: 0;
    padding: 0;
    background-image: url("/img/credit.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#backBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#backBtn img {
    background-color: white;
    border-radius: 20px;
}

#backBtn img:hover {
    background-color: yellowgreen;
}