@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antic&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url("/img/rule.png");
    color: white;
}

#backBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#backBtn img {
    background-color: white;
    border-radius: 20px;
}

#backBtn img:hover {
    background-color: #F0D245;
}

.gameRules {
    margin-left: 30px;
    font-family: "Antic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#intro {
    color: #D500F9;
    font-size: 100px;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
}

.hello {
    padding: 30px;
    display: flex;
    align-items: center;
}

.hello span {
    margin-left: 40px;
    font-size: 25px;
}

@media only screen and (max-width: 1600px) {
    #intro {
        font-size: 70px;
    }

    .hello {
        padding: 10px;
    }

    body h1 {
        font-size: 25px;
    }

    .hello span {
        font-size: 20px;
    }

    .hello img {
        width: 100px;
    }
}